$global-font-family: system-ui, -apple-system, dosis, roboto, emoji, helvetica, arial, sans-serif;
$global-font-size: 16px;
$global-font-weight: 400;
$global-line-height: 1.5rem;


/* ============================
   Header
   ============================ */
$header-height: 3.5rem;

$header-title-font-family: $global-font-family;
$header-title-font-size: 1.4rem;

$toc-title-font-size: 1.1rem;
$toc-content-font-size: 0.95rem;


/* ============================
   Code Blocks
   ============================ */

$code-font-family:
  "JetBrains Mono",
  "Iosevka Nerd Font",
  "Source Code Pro",
  menlo,
  monaco,
  consolas,
  "Liberation Mono",
  "Courier New",
  monospace;

$code-font-size: 0.875rem;


/* ============================
   Syntax Highlighting Map
   ============================ */
/*
  This reuses a calm, readable highlight palette:
  - keywords: purple
  - functions/identifiers: blue
  - strings: green
  - numbers: violet
  - comments: mid gray
*/

$code-type-list:
  "language-bash" "Bash",
  "language-c" "C",
  "language-cs" "C#",
  "language-cpp" "C++",
  "language-clojure" "Clojure",
  "language-coffeescript" "CoffeeScript",
  "language-css" "CSS",
  "language-dart" "Dart",
  "language-diff" "Diff",
  "language-erlang" "Erlang",
  "language-go" "Go",
  "language-go-html-template" "Go HTML Template",
  "language-groovy" "Groovy",
  "language-haskell" "Haskell",
  "language-html" "HTML",
  "language-http" "HTTP",
  "language-xml" "XML",
  "language-java" "Java",
  "language-js" "JavaScript",
  "language-javascript" "JavaScript",
  "language-json" "JSON",
  "language-kotlin" "Kotlin",
  "language-latex" "LaTeX",
  "language-less" "Less",
  "language-lisp" "Lisp",
  "language-lua" "Lua",
  "language-makefile" "Makefile",
  "language-markdown" "Markdown",
  "language-matlab" "Matlab",
  "language-objectivec" "Objective-C",
  "language-php" "PHP",
  "language-perl" "Perl",
  "language-powershell" "PowerShell",
  "language-posh" "PowerShell",
  "language-pwsh" "PowerShell",
  "language-python" "Python",
  "language-r" "R",
  "language-ruby" "Ruby",
  "language-rust" "Rust",
  "language-scala" "Scala",
  "language-scss" "Scss",
  "language-shell" "Shell",
  "language-sql" "SQL",
  "language-swift" "Swift",
  "language-tex" "TeX",
  "language-toml" "TOML",
  "language-ts" "TypeScript",
  "language-typescript" "TypeScript",
  "language-vue" "Vue",
  "language-yml" "YAML",
  "language-yaml" "YAML";

$code-highlight-color-map: (
  /* Parentheses */ "p": #a9a9b3,

  /* Keyword */ "k": #c397d8,
  /* KeywordConstant */ "kc": #c397d8,
  /* KeywordDeclaration */ "kd": #c397d8,
  /* KeywordNamespace */ "kn": #c397d8,
  /* KeywordPseudo */ "kp": #c397d8,
  /* KeywordReserved */ "kr": #c397d8,
  /* KeywordType */ "kt": #c397d8,

  /* Name */ "n": #a9b2c0,
  /* NameAttribute */ "na": #7ab0df,
  /* NameBuiltin */ "nb": #19b9c4,
  /* NameBuiltinPseudo */ "bp": #ffe59e,
  /* NameClass */ "nc": #ffe59e,
  /* NameConstant */ "no": #7ab0df,
  /* NameDecorator */ "nd": #ffe59e,
  /* NameEntity */ "ni": #7ab0df,
  /* NameException */ "ne": #7ab0df,
  /* NameFunction */ "nf": #7ab0df,
  /* NameFunctionMagic */ "fm": #19b9c4,
  /* NameLabel */ "nl": #7ab0df,
  /* NameNamespace */ "nn": #7ab0df,
  /* NameOther */ "nx": #a9a9b3,
  /* NameProperty */ "py": #7ab0df,
  /* NameTag */ "nt": #7ab0df,
  /* NameVariable */ "nv": #7ab0df,
  /* NameVariableClass */ "vc": #7ab0df,
  /* NameVariableGlobal */ "vg": #7ab0df,
  /* NameVariableInstance */ "vi": #7ab0df,
  /* NameVariableMagic */ "vm": #7ab0df,

  /* Literal */ "l": #2aa198,
  /* LiteralDate */ "ld": #2aa198,

  /* LiteralString */ "s": #79dcaa,
  /* LiteralStringAffix */ "sa": #79dcaa,
  /* LiteralStringBacktick */ "sb": #79dcaa,
  /* LiteralStringChar */ "sc": #79dcaa,
  /* LiteralStringDelimiter */ "dl": #79dcaa,
  /* LiteralStringDoc */ "sd": #79dcaa,
  /* LiteralStringDouble */ "s2": #79dcaa,
  /* LiteralStringEscape */ "se": #79dcaa,
  /* LiteralStringHeredoc */ "sh": #79dcaa,
  /* LiteralStringInterpol */ "si": #79dcaa,
  /* LiteralStringOther */ "sx": #79dcaa,
  /* LiteralStringRegex */ "sr": #79dcaa,
  /* LiteralStringSingle */ "s1": #79dcaa,
  /* LiteralStringSymbol */ "ss": #79dcaa,

  /* LiteralNumber */ "m": #b77ee0,
  /* LiteralNumberBin */ "mb": #b77ee0,
  /* LiteralNumberFloat */ "mf": #b77ee0,
  /* LiteralNumberHex */ "mh": #b77ee0,
  /* LiteralNumberInteger */ "mi": #b77ee0,
  /* LiteralNumberIntegerLong */ "il": #b77ee0,
  /* LiteralNumberOct */ "mo": #b77ee0,

  /* Operator */ "o": #ffe59e,
  /* OperatorWord */ "ow": #c397d8,

  /* Comment */ "c": #7e848f,
  /* CommentHashbang */ "ch": #7e848f,
  /* CommentMultiline */ "cm": #7e848f,
  /* CommentSingle */ "c1": #7e848f,
  /* CommentSpecial */ "cs": #7e848f,
  /* CommentPreproc */ "cp": #ffe59e,
  /* CommentPreprocFile */ "cpf": #36c692,

  /* Generic */ "g": #f87070,
  /* GenericDeleted */ "gd": #f87070,
  /* GenericEmph */ "ge": #f87070,
  /* GenericError */ "gr": #f87070,
  /* GenericHeading */ "gh": #f87070,
  /* GenericInserted */ "gi": #f87070,
  /* GenericOutput */ "go": #f87070,
  /* GenericPrompt */ "gp": #f87070,
  /* GenericStrong */ "gs": #f87070,
  /* GenericSubheading */ "gu": #f87070,
  /* GenericTraceback */ "gt": #f87070,

  /* TextWhitespace */ "w": #bbb
);

/* ============================
   Admonitions (Notes, Tips)
   ============================ */

$admonition-color-map: (
  'note': #7ab0df,
  'abstract': #54ced6,
  'info': #70c0ba,
  'tip': #c397d8,
  'success': #36c692,
  'question': #79dcaa,
  'warning': #ffe59e,
  'failure': #f87070,
  'danger': #ff1744,
  'bug': #f50057,
  'example': #b77ee0,
  'quote': #9e9e9e,
);

$admonition-background-color-map: (
  'note': rgba(#7ab0df, 0.1),
  'abstract': rgba(#54ced6, 0.1),
  'info': rgba(#70c0ba, 0.1),
  'tip': rgba(#c397d8, 0.1),
  'success': rgba(#36c692, 0.1),
  'question': rgba(#79dcaa, 0.1),
  'warning': rgba(#ffe59e, 0.1),
  'failure': rgba(#f87070, 0.1),
  'danger': rgba(#ff1744, 0.1),
  'bug': rgba(#f50057, 0.1),
  'example': rgba(#b77ee0, 0.1),
  'quote': rgba(#9e9e9e, 0.1),
);
